@model IEnumerable<LifeTube.Models.Profile>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div id="content">
			<div class="section">
<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table>
          
   

@foreach (var item in Model) {
    <tr>
        <th>
           Profile Name
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.profileName)
        </td>
    </tr>
    <tr>
        <th>
            First Name
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
    </tr>
    <tr>
        <th>
            Last Name
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
    </tr>
    <tr>
        <th>
            Created On
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.createdOn)
        </td>
    </tr>
    <tr>
        <th>
           Date Of Birth
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
    </tr>
    <tr>
        <th>
           Gender
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
    </tr>
    <tr>
        <th>
           Country
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
    </tr>
    
    <tr> 
        <td> 
            @Html.ActionLink("Edit Profile", "EditProfile", new { id = item.profileId })
            
        </td>
        <td> 
            
            @Html.ActionLink("Details", "Details", new { id = item.profileId }) 
        </td>
    </tr>
}

</table>
</div>
</div>


