@model IEnumerable<LifeTube.Models.Profile>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Created On
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdOn)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.profileid }) |
            @Html.ActionLink("Details", "Details", new { id=item.profileid }) |*@
           
        </td>
    </tr>
}

</table>
