@model LifeTube.Models.User

@{
    ViewBag.Title = "User Registration";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User Registration</legend>
        <table style="width: 50%;">
            <tr>
                <td>
                 
                    @Html.Label("First Name")
                </td>
                <td>
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </td>
             </tr>
             <tr>
                <td>
                    
                     @Html.Label("Last Name")
                </td>
                <td>
                    @Html.EditorFor(model => model.lastName)
                     @Html.ValidationMessageFor(model => model.lastName)
                 </td>
             </tr>
            
            <tr>
                <td>
                   @Html.Label("e-mail")
                </td>
                <td>
                    @Html.EditorFor(model => model.email)
                     @Html.ValidationMessageFor(model => model.email)
                </td>
            </tr>
           
            <tr>
                <td>
                      @Html.Label("Phone")
                </td>
                <td>
                    @Html.EditorFor(model => model.phone)
                    @Html.ValidationMessageFor(model => model.phone)
                </td>
             </tr>
            <tr>
                <td>
                   @Html.Label("Password")
                </td>
                <td>
                    @Html.PasswordFor(model => Model.password)                  
                     @Html.ValidationMessageFor(model => model.password)

                     @*  @Html.EditorFor(model => model.password)*@
                </td>
             </tr> 
             <tr>
                <td>
                   @Html.Label("Confirm Passord")
                </td>
                <td>
                    @Html.PasswordFor(Model=> Model.password)
                    @Html.ValidationMessage("confirmPassord")
                </td>
             </tr>   
        </table>

       <p>
            <input type="submit" value="Register User" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
